<h1 class="mb-4 text-center">Categorías de Productos</h1>

<div class="row justify-content-center">
  <div class="col-md-4">
    <a href="/category/Equipos" class="btn btn-primary w-100 mb-3">Equipos</a>
    <a href="/category/Instrumentos" class="btn btn-success w-100 mb-3">Instrumentos</a>
    <a href="/category/Reactivos" class="btn btn-warning w-100">Reactivos</a>
  </div>
</div>
